#video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.content-area {
  flex: 1;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  min-width: 0; 
}

.content-area:has(.settings-container) {
  padding: 0;
}